{% extends "base.html" %}
{% load static %}

{% block content %}
{% block title %}
<title>Project Details</title>
{% endblock %}
<!-- Main Wrapper -->

<div class="content-wrapper">
  <div class="main-content">

    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              <div class="card-body">
                <div class="text-center">
                  <div class="author-box-description">
                    <div class="author-box-name">
                      <h3>{{project.name}}</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Company</span>
                      <span class="float-right text-muted"> <a href="{{project.company.get_absolute_url}}">{{project.company}}</a></span>
                    </p>

                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Manager</span>
                      <span class="float-right text-muted">
                      <a href="{{project.manager.get_absolute_url}}">{{project.manager}}</a>
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Deposit</span>
                      <span class="float-right text-muted">
                        {% comment %} {{project.deposit}} {% endcomment %}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Due</span>
                      <span class="float-right text-muted">
                        {% comment %} {{project.due}} {% endcomment %}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Contract</span>
                      <span class="float-right text-muted">
                      {% for key, value in contracts %}
                        {% if project.contract == key %}
                          {{value}}
                        {% endif %}
                      {% endfor %}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Type</span>
                      <span class="float-right text-muted">
                      {% for key, value in projecttypes %}
                        {% if project.project_type == key %}
                          {{value}}
                        {% endif %}
                      {% endfor %}
                      {% comment %} {{project.project_type}} {% endcomment %}
                        {% comment %} {{project.get_project_type_display}} {% endcomment %}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Start Date</span>
                      <span class="float-right text-muted"> {{project.started_date}}</span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Contract Expiration Date</span>
                      <span class="float-right text-muted"> {{project.contract_expiration}}</span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Status</span>
                      <span class="float-right text-muted">
                      {% for key, value in projectstatus %}
                        {% if project.status == key %}
                          {{value}}
                        {% endif %}
                      {% endfor %}
                        {% comment %} {{project.status}} {% endcomment %}
                        {% comment %} {{project.get_status_display}} {% endcomment %}
                      </span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Deadline</span>
                      <span class="float-right text-muted"> {{project.deadline}}</span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="align-items-center justify-content-between">
                    <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                        <div class="card-content">
                          <h5 class="font-15">New Booking</h5>
                          <h2 class="mb-3 font-18">258</h2>
                          <p class="mb-0"><span class="col-green">10%</span> Increase</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          {% comment %} <div class="col-12 col-md-12 col-lg-6">
            <div class="card">
              <div class="padding-20">
                <h4>Overview</h4>
                <div class="card-body">
                  <h5 class="card-title">Description</h5>
                  <p class="card-description">
                    {{project.description|safe}}
                  </p>
                </div>
                <div class="tab-content tab-bordered">
                  <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                    <h5 class="card-title">Transactions</h5>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th>Made by</th>
                            <th>Amount</th>
                            <th>Date </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for transaction in project_transactions %}
                          <tr>
                            <td> <a href="#" style=" text-decoration:none;font-weight: bold; color:#555556;"><span
                                  class=" badge badge-pill badge-light">{{transaction.made_by}} </span></a></td>
                            <td><span class="d-block"> {{transaction.amount}} DZD</span></td>
                            <td><span class="d-block">{{transaction.created}}</span></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock content %}