
<div class="modal fade" id="editContent-{{project.id}}" role="dialog">
  <div class="modal-dialog modal-dialog-centered " role="document">
    
<div id="editContent-{{project.id}}" class="modal-content">
  <div class="modal-header" >
    <h4 class="modal-title" id="detailModalLabel">Edit project {{project.pk}}</h4> 
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
            <section class="section">
              <div class="section-body">       
                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                 
                        <form action="{{editproject_url}}" class="wizard_with_validation" id="editProjectForm-{{project.pk}}" method="POST">
                        {% csrf_token %}
                          <h3></h3>
                          <fieldset>
                            <div class="form-group form-float center-block">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_name" style="font-weight:bold;">Project title</label>
                                <input type="text" name="name" id="id_name" class="form-control" {% if project.name %} value="{{project.name}}" {% endif %}  placeholder="Enter a title" required>
                              </div>
                            </div>
                            <div class="form-group form-float center-block">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_project_type" style="font-weight:bold;">Type </label>
                                <select class="form-control" name="project_type" id="id_project_type">
                                  {% for key, value in projecttypes %}
                                    {% if project.project_type == key %}
                                      <option value="{{project.project_type}}" selected>{{value}}</option>
                                    {% else %}
                                      <option value="{{key}}">{{value}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_company" style="font-weight:bold;">Company </label>
                                <select class="form-control" name="company" id="id_company">
                                  {% for company in companies %}
                                    {% if project.company.pk == company.pk %}
                                    <option value="{{company.id}}" selected>{{company.name}}</option>
                                    {% else %}
                                    <option value="{{company.id}}">{{company.name}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
          
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_status" style="font-weight:bold;"> status </label>
                                <select class="form-control" name="status" id="id_status">
                                  {% for key, value in projectstatus %}
                                    {% if project.status == key %}
                                      <option value="{{project.status}}" selected>{{value}}</option>
                                    {% else %}
                                      <option value="{{key}}">{{value}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </fieldset>
          
                          <h3></h3>
                          <fieldset>
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_contract" style="font-weight:bold;">contract </label>
                                <select class="form-control" name="contract" id="id_contract">
                                  {% for key, value in contracts %}
                                    {% if project.contract == key %}
                                      <option  value="{{project.contract}}" selected>{{value}}</option>
                                    {% else %}
                                      <option value="{{key}}">{{value}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_contract_expiration" style="font-weight:bold;">Contract expiration date </label>
                                <input type="date" name="contract_expiration" {% if project.contract_expiration %} value="{{project.contract_expiration|date:'Y-m-d'}}" {% endif %} id="id_contract_expiration" maxlength="200"
                                  class="form-control">
                              </div>
                            </div>
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_started_date" style="font-weight:bold;">Start date</label>
                                <input type="date" name="started_date" {% if project.started_date %} value="{{project.started_date|date:'Y-m-d'}}" {% endif %} id="id_started_date" maxlength="200"
                                  class="form-control">
                              </div>
                            </div>         
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label class="col-sm-3 col-form-label" style="font-weight:bold;" for="id_cost">Cost</label>
                                <input type="number" name="cost" min="0" {% if project.cost %} value="{{project.cost}}" {% endif %} id="id_cost" maxlength="200" class="form-control">
                              </div>
                            </div>
                          </fieldset>
          
                          <h3></h3>
                          <fieldset>
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_manager" style="font-weight:bold;">Manager</label>
                                <select class="form-control" name="manager" id="id_manager">
                                  {% for employee in employees %}
                                    {% if project.manager.id == employee.id%}
                                    <option value="{{project.manager.id}}" selected>{{employee.name}}</option>
                                    {% else %}
                                      <option value="{{employee.id}}">{{employee.name}}</option>
                                    {% endif %}
                                  {% endfor %}
                                  </select>
                              </div>
                            </div>
          
                            <div class="form-group form-float">
                              <div class=" col-lg-14 col-md-14 col-xs-10">
                                <label for="id_deadline" style="font-weight:bold;">Deadline</label>
                                <input type="date" name="deadline" {% if project.deadline %} value="{{project.deadline|date:'Y-m-d'}}" {% endif %} id="id_deadline" maxlength="200" class="form-control">
                              </div>
                            </div>
                            
                            <div class="form-group form-float">
                              <div class="form-line col-lg-14 col-md-14 col-xs-10">
                                <label for="id_description" style="font-weight:bold;">description </label>
                                <textarea name="description" {% if project.description %} value="{{project.description}}" {% endif %} class="form-control bg-white" id="id_description"> </textarea>
                              </div>
                            </div>
                          </fieldset>  
                             <div class="actions clearfix"> 
                            <button type="submit" style="float:right " class="waves-effect btn btn-primary" role="menuitem" >Edit</button>                     
                        </div>  
                        </form>
                        {% comment %} <div class="actions clearfix"> 
                            <button type="submit" style="float:right " class="waves-effect btn btn-primary" role="menuitem" form="editProjectForm-{{project.pk}}">Edit</button>                     
                        </div> {% endcomment %}
                  </div>
                </div>
              </div>
            </section>
          </div>
  </div>
</div>
</div>

