{% extends "base.html" %}
{% load static %}


{% block content %}
{% block title %}
<title>Projects</title>
{% endblock %}

  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'project_add.html' %}
    </div>
  </div>
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'project_edit.html' with object=project editproject_url=editproject_url %}
    </div>
  </div>



  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      {% include 'client_delete.html'%}
    </div>
  </div>


    <!-- Main Content -->
    <div class="main-content">
    {% include 'snippets/message.html' %}

      <section class="section">
        <div class="section-body">

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="primary">Projects list </h4>
                  <div class="card-header-action">
                    <div class="row">


                      <button hx-get="{% url 'project:addproject' %}" hx-target="#addContent" data-toggle="modal"
                        data-target="#addModal" hx-swap="innerHTML" class="btn btn-primary plus">
                        <i data-feather="plus"></i>
                      </button>
                      
                    </div>

                  </div>

                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="total" style="margin-left: 20px;">
                      <strong>Total : </strong>
                      {{ project_count }}</div>

                    <form action="" method="GET" style="margin-left:auto ;">
                      <div class="d-md-flex align-items-center">
                        <tr class="row">
                          <td>
                            <input type="search" class="form-control" placeholder="Project name" aria-label="Search"
                              name="name"></td>
                          <td>
                            <input type="date" class="form-control" placeholder="collab_start" name="started_date">
                          </td>
                          <td>
                            <select class="form-control select" name="project_type">
                              <option value="">Project type</option>
                              <option value="EC">e-commerce</option>
                              <option value="WS">web site</option>
                              <option value="WA">web app</option>
                            </select>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-primary"><i data-feather="filter"></i></button>
                          </td>
                        </tr>

                      </div>
                    </form>
                  </div>
                  <hr>
                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                          <th>Project</th>
                          <th>Start date</th>
                          <th>Deadline</th>
                          <th>Manager</th>
                          <th>Cost</th>
                          <th>Type</th>
                          <th>Contract</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for project in projects %}
                        <tr>
                        
                          <td>{{project.name}} {{project.pk}}</td>
                          <td>{{project.started_date}}</td>
                          <td class="text-danger"> {{project.deadline}}</td>
                          <td> {{project.manager}}</td>
                          <td class="text-info"> {{project.cost}} DZD</td>
                          <td> {{project.get_project_type_display}} </td>
                          <td>{{project.get_contract_display}}</td>
                          <td><span
                              class="badge badge-pill {{project.get_status_class}}">{{project.get_status_display}}</span>
                          </td>

                          
                          <td>
                            <a data-toggle="modal" data-target="#editContent-{{project.pk}}" class="btn icn">
                            <i data-feather="edit"></i>
                            </a>


                          {% comment %} <a href="{% url 'project:editproject' project.pk %}" 
                            hx-target="#editContent" data-toggle="modal"
                           data-target="#editContent-{{project.pk}}" hx-swap="innerHTML" class="btn icn"> 
                           <i data-feather="edit"></i></a> {% endcomment %}
 
                            <a href="{% url 'project:projectdelete' project.pk %}"  data-toggle="modal" data-target="#deleteModal" class="btn icn"><i
                              data-feather="trash"></i></a>

                            <a href="{% url 'project:projectdetail' project.pk %}" class="btn icn">
                              <i data-feather="eye"></i></a>
                          </td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% for project in projects %}
  {% url 'project:editproject' project.pk as editproject_url %}
    {% include "project_edit.html" with object=project editproject_url=editproject_url %}
{% endfor %}

{% endblock content %}
