{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Tasks</title>
{% endblock %}
{% block content %}

  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'task_create_model.html' %}
    </div>
  </div>

  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'task_edit_model.html' with edittask_url=edittask_url %}
    </div>
  </div>

  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
      {% include 'task_delete_model.html' with taskdelete_url=taskdelete_url %}
    </div>
  </div>
<div class="main-content">
    <section class="section">
      <div class="section-body">
         {% include 'snippets/message.html' %}
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>tasks List</h4>
                  <div class="card-header-form">
                    <button  hx-get="{% url 'project:addtask' %}" hx-target="#addContent" data-toggle="modal"
                        data-target="#addModal" hx-swap="innerHTML" class="btn btn-primary plus">
                        <i data-feather="plus"></i></button>
                    <!-- <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form> -->
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-center">
                          <div class="custom-checkbox custom-checkbox-table custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                              class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                          </div>
                        </th>
                        <th>Task Name</th>
                        <th>Members</th>
                        <th>Task Status</th>
                        <th>Assigh Date</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    {% comment %} {% for project in team_members %}
                      {{project.name}}
                    {% endfor %} {% endcomment %}
                    {{team_members}}

                    <tbody>
                    {% for task in tasks %}
                    
                      <tr>
                        <td class="p-0 text-center">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                              id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>{{task.name}}</td>
                        <td class="text-truncate">
                          <ul class="list-unstyled order-list m-b-0 m-b-0">
                            <li class="team-member team-member-sm"><img class="rounded-circle"
                                src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                                data-original-title="Wildan Ahdian"></li>

                            <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                          </ul>
                        </td>
                        <td class="align-middle">
                          <div class="progress-text">50%</div>
                          <div class="progress" data-height="6">
                            <div class="progress-bar bg-success" data-width="50%"></div>
                          </div>
                        </td>
                        <td {% if task.start_date %}> {{task.start_date}} {% endif %}</td>
                        <td {% if task.deadline %}> {{task.deadline}} {% endif %}</td>

                         {% if task.priority == 'low' %}
                          <td>
                            <div class="badge badge-success">{{task.priority}}</div>
                          </td>
                          {% elif task.priority == 'meduim' %}
                          <td>
                            <div class="badge badge-info">{{task.priority}}</div>
                          </td>
                          {% else %}
                          <td>
                            <div class="badge badge-danger">{{task.priority}}</div>
                          </td>
                          {% endif %}
                          <td>
                            <a href="{{edittask_url}}" data-toggle="modal" data-target="#editContent-{{task.pk}}" class="btn icn">
                            <i data-feather="edit"></i>
                            </a>
 
                            <a href="{{taskdelete_url}}" data-toggle="modal" data-target="#deleteContent-{{task.pk}}" class="btn icn">
                            <i data-feather="trash"></i>
                            </a>

                            <a href="{% url 'project:taskdetail' task.pk %}" class="btn icn">
                            <i data-feather="eye"></i></a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>

                      {% comment %} </tr> {% endcomment %}
                      <tr>
                        <td class="p-0 text-center">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                              id="checkbox-2">
                            <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td>Redesign homepage</td>
                        <td class="text-truncate">
                          <ul class="list-unstyled order-list m-b-0 m-b-0">
                            <li class="team-member team-member-sm"><img class="rounded-circle"
                                src="assets/img/users/user-1.png" alt="user" data-toggle="tooltip" title=""
                                data-original-title="Wildan Ahdian"></li>
                            <li class="team-member team-member-sm"><img class="rounded-circle"
                                src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                                data-original-title="John Deo"></li>
                            <li class="avatar avatar-sm"><span class="badge badge-primary">+2</span></li>
                          </ul>
                        </td>
                        <td class="align-middle">
                          <div class="progress-text">40%</div>
                          <div class="progress" data-height="6">
                            <div class="progress-bar bg-danger" data-width="40%"></div>
                          </div>
                        </td>
                        <td>2017-07-14</td>
                        <td>2018-07-21</td>
                        <td>
                          <div class="badge badge-danger">High</div>
                        </td>
                        <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
                      </tr>

                    </table>
                  </div>
                </div>
                </div>
            </div>
          </div>
      </div>
    </section>
</div>

{% for task in tasks %}
  {% url 'project:edittask' task.pk as edittask_url %}
  {% url 'project:taskdelete' task.pk as taskdelete_url %}
    {% include "task_edit_model.html" with edittask_url=editproject_url %}
    {% include "task_delete_model.html" with taskdelete_url=projectdelete_url %}
{% endfor %}

{% endblock content %}
