{% extends "base.html" %}
{% load static %}

{% block content %}
{% block title %}
<title>Teams</title>
{% endblock title %}


<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'team_create_model.html' %}
    </div>
  </div>

  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'team_edit_model.html' with editteam_url=editteam_url %}
    </div>
  </div>

  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
      {% include 'team_delete_model.html' with teamdelete_url=teamdelete_url %}
    </div>
  </div>
<div class="main-content">
         {% include 'snippets/message.html' %}
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Teams List</h4>
              <div class="card-header-form">
                <button  hx-get="{% url 'project:addteam' %}" hx-target="#addContent" data-toggle="modal"
                  data-target="#addModal" hx-swap="innerHTML" class="btn btn-primary plus">
                  <i data-feather="plus"></i>
                </button>
              </div>
            </div>
              <div class="col-12 ">
                  {% for team in teams %}
                <div class="card">
                  <div class="card-header">
                    <h4>Team: {{team.name}}</h4>
                      <div class="crud-actions" >
                        <a href="{{editteam_url}}" data-toggle="modal" data-target="#editContent-{{team.pk}}" class="btn icn">
                          <i data-feather="edit"></i>
                          </a>

                          {% comment %} <a href="{{teamdelete_url}}" data-toggle="modal" data-target="#deleteContent-{{team.pk}}" class="btn icn"> {% endcomment %}
                          <a href="{% url 'project:teamdelete' team.pk %}" data-toggle="modal" data-target="#deleteContent-{{team.pk}}" class="btn icn">
                          <i data-feather="trash"></i>
                          </a>

                          <a href="{% url 'project:teamdetail' team.pk %}" class="btn icn">
                          <i data-feather="eye"></i></a>
                      </div>
                  </div>
                
                  <div class="card-body team-cardo">
                    {% for memeber in team.member.all %}
                        {% comment %} <div class="tab-content nav-team-cardo" id="myTabContent"> {% endcomment %}
                        {% comment %} <span class="enligne"> {% endcomment %}
                          {% comment %} <div class="tab-pane fade show active nav-team-cardo enligne" id="home" role="tabpanel" aria-labelledby="home-tab"> {% endcomment %}
                            <div class="cardo">
                              <div class="cardo-border-top"></div>
                              <div class="img"></div>
                              <span> {{memeber.name}}</span>
                              <p class="job"> {{memeber.role}}</p>
                              <button> Click</button>
                            </div>
                               
                          {% comment %} </div> {% endcomment %}
                      {% comment %} </span> {% endcomment %}
                    {% endfor %}
                </div>
            </div>
                  {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock content %}

{% for team in teams %}
{% url 'project:editteam' team.pk as editteam_url %}
  {% url 'project:teamdelete' team.pk as teamdelete_url %}
    {% include "team_edit_model.html" with object=team editteam_url=editteam_url %}
    {% include "team_delete_model.html" with object=team teamdelete_url=teamdelete_url %}

{% endfor %}