{% extends "base.html" %}
{% load static %}


{% block content %}
{% block title %}
<title>Clients</title>
{% endblock %}


  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      {% include 'client_add.html'%}
    </div>
  </div>
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      {% include 'client_delete.html'%}
    </div>
  </div>
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      {% include 'client_edit.html'%}
    </div>
  </div>
  <div class="main-content">
      <section class="section">
        <div class="section-body">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Clients list</h4>
                  <div class="card-header-action">
                    <div class="row">
                      <button hx-get="{% url 'contact:addclient' %}" hx-target="#addContent" data-toggle="modal"
                        data-target="#addModal" hx-swap="innerHTML" class="btn btn-primary plus"><i
                          data-feather="plus"></i></button>
                    </div>
                  </div>

                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="total" style="margin-left: 20px;">
                      <strong>Total : </strong>
                      {{ client_count }}
                    </div>

                    <form action="" method="GET" style="margin-left:auto ;">
                      <div class="d-md-flex align-items-center">
                        <tr class="row">
                          <td>
                            <input type="search" class="form-control" placeholder="Project name" aria-label="Search"
                              name="name"></td>
                          <td>
                            <input type="date" class="form-control" placeholder="collab_start" name="started_date">
                          </td>
                          <td>
                            <select class="form-control select" name="project_type">
                              <option value="">Project type</option>
                              <option value="EC">e-commerce</option>
                              <option value="WS">web site</option>
                              <option value="WA">web app</option>
                            </select>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-primary"><i data-feather="filter"></i></button>
                          </td>
                        </tr>

                      </div>
                    </form>
                  </div>
                  <hr>

                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                          <th>Name </th>
                          <th>Company</th>
                          <th>Email</th>
                          <th>Phone number</th>
                          <th>Decision</th>
                          <th>Project</th>
                          <th>source</th>
                          <th>Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for employee in employees %}
                        <tr>
                          <td>{{employee.name}}</td>
                          <td> <a href="{% url 'contact:companydetail' employee.company.pk %}">
                              {{employee.company}}</a></td>
                          <td>{{employee.email}}</td>
                          <td>{{employee.mobile}}</td>
                          <td><span class="fe text-warning"> {{employee.get_decision_display}} </span></td>
                          <td> {{employee.get_project_type_display}} </td>
                          <td>{{employee.source}}</td>
                          <td><span class="d-block text-info">{{employee.collab_start}}</span></td>

                          <td><a hx-get="{% url 'contact:editclient' employee.pk %}" hx-target="#editContent" data-toggle="modal"
                            data-target="#editModal" hx-swap="innerHTML" class="btn icn"><i
                                data-feather="edit"></i></a>

                            <a hx-get="{% url 'contact:clientdelete' employee.pk %}" hx-target="#deleteContent" data-toggle="modal"
                              data-target="#deleteModal" hx-swap="innerHTML" class="btn icn"><i
                              data-feather="trash"></i></a>
                            
                            <a href="{% url 'contact:clientdetail' employee.pk %}" class="btn icn"><i
                                data-feather="more-horizontal"></i></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>



          {% endblock content %}
        </div>
      </section>
    </div>
  </div>
</div>