{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Client details</title>
{% endblock %}




  <div class="main-content">
  <h3>Client detail</h3>
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              <div class="card-body">
                {% comment %} <div class="author-box-center">
                  {% if employee.logo %}
                  <td><img src="{{employee.logo.url}}" alt="profile" class="rounded-circle author-box-picture"> </td>

                  {% else %}
                  <td><img src="{% static 'images/favicon.png' %}" alt="logo"
                      class="rounded-circle author-box-picture" /> </td>
                  {% endif %}
                </div> {% endcomment %}
                <div class="text-center">
                  <div class="author-box-description">
                    <div class="author-box-name">
                      <h3> {{user.name}}</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Name: </span>
                      <span class="float-right text-muted"> {{user.name}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Email: </span>
                      <span class="float-right text-muted"> {{user.email}}</span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Role: </span>
                      <span class="float-right text-muted">{% if user.role %}
{{user.role}}
                      {% endif %} </span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">mobile </span>
                      <span class="float-right text-muted"> {{user.mobile}} </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">Company: </span>
                      <span class="float-right text-muted">{% if user.company %} <a href="{{user.company.get_absolute_url}}" >{{user.company.name}}</a> {% else %} None{% endif %}</span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> adress</span>
                      <span class="float-right text-muted">{{user.adress}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> source</span>
                      <span class="float-right text-muted"> {{user.source}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">type</span>
                      <span class="float-right text-muted"> {{user.get_project_type_display}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Start date</span>
                      <span class="float-right text-muted">{{user.collab_start}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
              <div class="padding-20">
                <h4>Overview</h4>
                {% comment %} <div class="tab-content tab-bordered" id="myTab3Content">
                  <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">

                    <h6 class="card-title"> Employees</h6>

                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">

                        <thead>
                          <tr>
                            <th style="width: 100px;"> Name</th>
                            <th style="width: 100px;"> Decision case</th>
                            <th style="width: 100px;">Phone number</th>
                            <th style="width: 100px;">Email</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div> {% endcomment %}
              </div>

              <div class="tab-content tab-bordered" id="myTab3Content">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">

                  <h6 class="card-title">Projects</h6>

                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                          <th style="width: 100px;">Project</th>
                          <th style="width: 100px;">Start date</th>
                          <th style="width: 100px;">Status</th>
                          <th style="width: 100px;">Cost</th>
                          <th style="width: 100px;">Subscription type</th>
                        </tr>
                    
                      </thead>
                      <tbody>
                      {% for project in projects %}
                      {% if user == project.manager %}
                      <tr>
                        <td> <a href="{{project.get_absolute_url}}">{{project.name}}</a> </td>
                        <td>{{project.started_date}}</td>
                        <td>{{project.get_status_display}}</td>
                        <td>{{project.cost}}</td>
                        <td>{{project.get_contract_display}}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
<!-- main-panel ends -->
{% endblock content %}