{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Details client</title>
{% endblock %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      Details client
    </h3>
  </div>

  <div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              <div class="card-body">
                <div class="text-center">
                  <div class="author-box-description">
                    <div class="author-box-name">
                      <h3> {{employee.name}}</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="py-4">
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> email</span>
                      <span class="float-right text-muted"> {{employee.email}}</span>
                    </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> mobile</span>
                      <span class="float-right text-muted"> {{employee.mobile}} </span>
                    </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> adress</span>
                      <span class="float-right text-muted"> {{employee.address}} </span>
                    </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> company</span>
                      <span class="float-right text-muted"> 
                        {% comment %} {% if employee.company %} {% endcomment %}
                          <a href="{{employee.company.get_absolute_url}}" style="text-decoration:none;">
                            {{employee.company}} 
                          </a>
                        {% comment %} {% endif %} {% endcomment %}
                      </span>
                    </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> decision</span><span
                        class="float-right fe text-warning"> {{employee.get_decision_display}} </span> </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> source</span><span
                        class="float-right text-muted"> {{employee.source}} </span> </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> type</span><span
                        class="float-right text-muted"> {{employee.get_project_type_display}} </span> </p>
                    <p class="clearfix"> <span class="float-left" style="font-weight: bold;"> Start date </span><span
                        class="float-right text-info">{{employee.collab_start}}</span> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
              <div class="padding-20">
                <h4>Overview</h4>
                <div class="tab-content tab-bordered" id="myTab3Content">
                  <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                    <h6 class="card-title"> Employees</h6>
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th>Project</th>
                            <th>Start date</th>
                            <th>Status</th>
                            <th>Cost</th>
                            <th>Subscription type</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for project in client_projects %}
                          <tr role="row" class="odd">
                            <td> 
                              <span><a
                                  href="{% url 'project:projectdetail' project.pk %}"
                                  style=" text-decoration:none; color:black;"> {{project.name}} </span></td>
                            <td> <span class="d-block text-info">{{project.started_date}}</span></td>
                            <td>
                              {% if project.get_status_display == 'Confirm' %}
                              <span class="badge badge-pill badge-success">{{project.get_status_display}}</span>
                              
                              {% elif project.get_status_display == 'Completed' %}
                              <span class="badge badge-pill badge-info">{{project.get_status_display}}</span>
                              {% else  %}
                              <span class="badge badge-pill badge-warning">{{project.get_status_display}}</span>
                              {% endif %}</td>
                            <td><span class="text-info">{{project.cost}} DZD </span></td>
                            <td><span class="badge badge-pill badge-secondary">{{project.get_contract_display}}</span></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
<!-- main-panel ends -->
{% endblock content %}