{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Company details</title>
{% endblock %}

  <div class="main-content">
  <h3>Conpany detail</h3>
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              <div class="card-body">
                <div class="author-box-center">
                  {% if company.logo %}
                  <td><img src="{{company.logo.url}}" alt="profile" class="rounded-circle author-box-picture"> </td>

                  {% else %}
                  <td><img src="{% static 'images/favicon.png' %}" alt="logo"
                      class="rounded-circle author-box-picture" /> </td>
                  {% endif %}
                </div>
                <div class="text-center">
                  <div class="author-box-description">
                    <div class="author-box-name">
                      <h3> {{company.name}}</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">industry </span>
                      <span class="float-right text-muted"> {{company.industry}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> email </span>
                      <span class="float-right text-muted"> {{company.email}}</span>
                    </p>

                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">mobile </span>
                      <span class="float-right text-muted"> {{company.mobile}} </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> website </span>
                      <span class="float-right text-muted">{{company.website}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> adress</span>
                      <span class="float-right text-muted">{{company.adress}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> responsible_person</span>
                      <span class="float-right text-muted"> {{company.responsible_person}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">cost</span>
                      <span class="float-right text-muted"> {{company.annual_revenue}}</span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;">company type</span>
                      <span class="float-right text-muted">
                      {% for key, value in companytypes %}
                        {% if company.company_type == key %}
                          {{value}}
                        {% endif %}
                      {% endfor %}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left" style="font-weight: bold;"> Start date</span>
                      <span class="float-right text-muted">{{company.collab_start}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
              <h4>Overview</h4>
              <div class="tab-content tab-bordered" id="myTab3Content">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">

                  <h6 class="card-title"> Employees</h6>

                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">

                      <thead>
                        <tr>
                          <th style="width: 100px;"> Name</th>
                          <th style="width: 100px;"> Role</th>
                          <th style="width: 100px;"> Decision case</th>
                          <th style="width: 100px;">Phone number</th>
                          <th style="width: 100px;">Email</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for employee in employees %}
                      {% if employee.company.pk == company.pk %}
                        <tr>
                          <td>{{employee.name}}</td>
                          <td>{{employee.role}}</td>
                          <td>{{employee.decision}}</td>
                          <td>{{employee.mobile}}</td>
                          <td>{{employee.email}}</td>
                        </tr>
                      {% endif %}
                      {% endfor %}
                        
                      </tbody>
                      {% comment %} <tbody>
                        {% for employee in company_employees %}
                        <tr>
                          <td> <a href="{% url 'contact:clientdetail' employee.pk %}">{{employee.name}}
                            </a></td>
                          <td><span class="fe text-warning">
                              {{employee.get_decision_display}} </span>
                          </td>
                          <td>{{employee.mobile}}</td>
                          <td> {{employee.email}} </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    {% endcomment %}
                    </table>
                  </div>
                </div>
              </div>

              <div class="tab-content tab-bordered" id="myTab3Content">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">

                  <h6 class="card-title">Projects</h6>

                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                          <th style="width: 100px;">Project</th>
                          <th style="width: 100px;">Start date</th>
                          <th style="width: 100px;">Status</th>
                          <th style="width: 100px;">Cost</th>
                          <th style="width: 100px;">Subscription type</th>
                        </tr>
                    
                      </thead>
                      {% comment %}                       
                      <tbody>
                        {% for project in company_projects %}
                        <tr>
                          <td><a
                                href="{% url 'project:projectdetail' project.pk %}">
                                {{project.name}} </a></td>
                          <td> <span class="d-block text-info">{{project.started_date}}</span>
                          </td>
                          <td>
                            {% if project.get_status_display == 'Confirm' %}
                            <span class="badge badge-pill badge-success">{{project.get_status_display}}</span>
                            
                            {% elif project.get_status_display == 'Completed' %}
                            <span class="badge badge-pill badge-info">{{project.get_status_display}}</span>
                            {% else  %}
                            <span class="badge badge-pill badge-warning">{{project.get_status_display}}</span>
                            {% endif %}</td>
                          <td><span class=" text-info">{{project.cost}}
                              DZD </span></td>
                          <td><span>
                              {{project.get_contract_display}} </span>
                          </td>


                        </tr>
                        {% endfor %}
                      </tbody> {% endcomment %}
                   
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




  </div>
</div>
</div>
</div>
<!-- main-panel ends -->
{% endblock content %}