

<div class="modal fade" id="editModal-{{company.id}}" role="dialog">
  <div class="modal-dialog modal-dialog-centered " role="document">
                                                        
<div id="editModal-{{object.id}}" class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="detailModalLabel">Edit {{company.name}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">

    <form action="{{editcompany_url}}" class="wizard_with_validation" id="editCompanyForm-{{company.pk}}" method="post">

				{% csrf_token %}
      <h3></h3>
      <fieldset>
        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_name">Name </label>
            <input type="text" name="name" id="id_name" required="" class="form-control" type="text" {% if company.name %} value="{{company.name}}" {% endif %} >
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_industry">Industry</label>
            <input type="text" name="industry" id="id_industry" class="form-control" {% if company.industry %} value="{{company.industry}}" {% endif %} >
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_annual_revenue">Annual revenue</label>
            <input type="number" name="annual_revenue" id="id_annual_revenue" class="form-control" {% if company.annual_revenue %} value="{{company.annual_revenue}}" {% endif %} >
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_collab_start"> Collab start </label>
            <input type="date" name="collab_start" id="id_collab_start" class="form-control"{% if company.collab_start %}value="{{company.collab_start}}" {% endif %}>
          </div>
        </div>

      </fieldset>


      <h3></h3>
      <fieldset>
        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_email">Email</label>
            <input type="email" name="email" id="id_email" class="form-control" {% if company.email %}value ="{{company.email}}" {% endif %} >
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_mobile">Mobile </label>
            <input type="text" name="mobile" id="id_mobile" {% if company.mobile %}value="{{company.mobile}}" {% endif %}
             class="form-control"> <!-- pattern="^(?:0|\(?\+213\)?\s?|00213\s?)[1-79](?:[\.\-\s]?\d\d){4}$"-->
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_website">Website</label>
            <input type="text" name="website" id="id_website" class="form-control" {% if company.website %}value="{{company.website}}" {% endif %} >
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_project_type">project type </label>
            <select class="form-control" name="project_type" id="id_project_type">
              <option value="" selected="">Select company type</option>
              <option value="EC">e-commerce</option>
              <option value="WSF">web site</option>
              <option value="WA">web app </option>
            </select>
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_project_type">project type </label>
            <select class="form-control" name="project_type" id="id_project_type">
              <option value="" selected="">Select company type</option>
              <option value="EC">e-commerce</option>
              <option value="WSF">web site</option>
              <option value="WA">web app </option>
            </select>
          </div>
        </div>

      </fieldset>



      <h3></h3>
      <fieldset>
        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_adress">Adress </label>
            <input type="text" name="adress" id="id_adress" class="form-control" {% if company.adress %}value="{{company.adress}}" {% endif %}>
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_responsible_person">Responsible person </label>
            <input type="text" name="responsible_person" id="id_responsible_person" class="form-control" {% if company.responsible_person %}value="{{company.responsible_person}}" {% endif %}>
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_source"> Source </label>
            <input type="text" name="source" id="id_source" {% if company.source %}value="{{company.source}}" {% endif %} class="form-control" >
          </div>
        </div>

        <div class="form-group form-float center-block">
          <div class="form-line col-lg-14 col-md-14 col-xs-10">
            <label for="id_logo"> logo </label>
            <input type="file" id="id_logo" name="logo" {% if company.logo %}value="{{company.logo}}" {% endif %} class="file-upload-browse btn btn-primary">
          </div>
        </div>

      </fieldset>

    </form>
    <div class="actions clearfix"> 
      <button type="submit" style="float:right " class="waves-effect btn btn-primary" role="menuitem" form="editCompanyForm-{{company.pk}}">Edit</button>                     
    </div>
  </div>
</div>
</div>
</div>  



{% comment %} {% endblock content %} {% endcomment %}