{% load static %}
<style>
    .label {
        float: left;
        vertical-align: middle;
    }
    span {
        display: block;
        overflow: hidden;
        padding: 0px 4px 0px 6px;
    }
</style>
{% comment %} <div class="modal fade" id="addContent" role="dialog">
  <div class="modal-dialog modal-dialog-centered " role="document"> {% endcomment %}


<div id="addContent" class="modal-content">
    <div class="modal-header">
        {% comment %} <h4 class="modal-title" id="detailModalLabel">Add client</h4> {% endcomment %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class=" col-8">
                <div class="invoice-title">
                    <img src="{% static 'images/logo.png' %}" style="height: 100px;width: 300px;" alt="">
                </div>
            </div>
            <div style="text-align: right; float: right;" class="col-4">
                <h4>Octopus Consulting</h4>
                <p>Centre, Blida 09000</p>
                <p>0672606639</p>
                <p>Code postal</p>
            </div>
        </div>
        <h1 class="text-center">Facture</h1>
        <form id="createInvoice" action="{% url 'bills:invoicecreate' %}" method="post" enctype="multipart/form-data">
{% comment %}                 
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %} {% endcomment %}

            {% csrf_token %}
{% comment %} 
                {{ form.management_form }}
            {{ form.non_form_errors }} {% endcomment %}

            <div class="row">
                <div class="form-inline col-6">
                    <strong style="font-size: 18px;">Facturé à :</strong>
                    <br><br>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="id_name" class="label">Nom </label>
                    <span>
                        <input class="form-control " type="text" name="to_name" placeholder="Entrez le nom" id="">
                    </span>
                </div>
                <div class="form-group col-6">
                    <label for="id_name" class="label">Facture N°</label>
                    <span>
                        <input type="number" class="form-control  " name="number" id="">
                    </span>
                </div>
            </div>

            <div class="row">
                {% comment %} <div class="form-inline col-6">
                    <strong>Prénom </strong>
                    <input class="form-control  " type="text" name="name" placeholder="Entrez le nom" id="">
                </div> {% endcomment %}
                {% comment %} <div class="form-inline col-4 ml-4">
                    <strong>Date</strong>
                    <input class="form-control  " type="date" name="date" id="">
                </div> {% endcomment %}
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label class="label">Adresse</label>
                    <span>
                        <input class="form-control " type="text" name="adress" placeholder="entrez l'adresse" id="">
                    </span>
                </div>
                <div class="form-group col-6">
                    <label class="label">Due date </label>
                    <span>
                        <input class="form-control  " type="date" name="due_date" id="">
                    </span>
                </div>

            </div>
        {% comment %} </form> {% endcomment %}
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="table-responsive">
                    <div class=" col-12 lex flex-col max-w-lg mx-auto" x-data="items()">
                        <div class="row">

                                
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Order Summary</h5>
                            </div>
                            <div class="col-md-2">
                                <span class="btn btn-secondary mb-3" @click="addItem()">Add</span>
                            </div>
                        </div>
                        <div x-show="items.length">
                            <div id="table" class="table-editable rounded border text-xs">
                                <table class="table table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>  
                                            <th class="text-center" scope="row" >#</th>
                                            <th class="">Item</th>
                                            <th class="text-center" style="width:10%" >Price</th>
                                            <th class="text-center"style="width:10%" >Quantity</th>
                                            <th class="text-center"style="width:10%">Total</th>
                                            <th class="text-center"style="width:10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{formset.management_form}}
                                        {% comment %} {% for form in formset %}
                                            {{form}}
                                        {% endfor %} {% endcomment %}
                                        <template x-for="item in items" :key="item.id">
                                            <tr class="border-t">
                                               <td>
                                                    <span x-text="item.id"></span>     
                                                </td>
                                                <td class="pt-3-half" contenteditable="true" class="flex justify-between items-center px-4 py-1">
                                                    {% comment %} <span x-text="item.item" class="overflow-auto" ></span> {% endcomment %}
                                                    <input type="text" name="items-0-name" class="overflow-auto" maxlength="180" id="id_items-0-name">
                                                </td>
                                               
                                                <td class="pt-3-half" contenteditable="true">
                                                    <input type="number" name="items-0-price" min="0" id="id_items-0-price">

                                                    {% comment %} <span x-text="item.price" name="price"></span>DA    {% endcomment %}
                                                </td>
                                                <td class="pt-3-half" contenteditable="true">
                                                    <input type="number" name="items-0-quantity" min="0" id="id_items-0-quantity">
                                                    {% comment %} <span x-text="item.quantity" name="quantity"></span>     {% endcomment %}
                                                </td>
                                                <td class="pt-3-half" contenteditable="true">
                                                    <span x-text="item.total"></span> DA    
                                                </td>
                                                <td>  
                                                    <button
                                                    class="btn btn-outline-danger"
                                                    @click="deleteItem(item.id)">x</button>
                                                </td> 
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                    </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <address>
                                <strong>Payment Method:</strong><br>
                                <!-- Visa ending **** 5687<br>
                             -->
                            </address>

                                <label for="note">Note</label>
                                <textarea name="note" class="form-control" id="note" cols="30" rows="10"></textarea>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="tab mt-0" style="float:right;">
                                    <tbody>
                                        <tr>
                                            <th style="width:120px;" scope="row">Total hors taxe</th>
                                            <td style="width:100px">123 DA</td>
                                        </tr>
                                        <tr>
                                            <th style="width:100px;" scope="row">TVA</th>
                                            <td style="width:100px;">111 DA</td>
                                        </tr>
                                        <tr>
                                            <th style="width:100px;" scope="row">Total</th>
                                            <td style="width:100px;">111 DA</td>
                                        </tr>
                                    </tbody>
                                </table>
                       <!-- <hr>
                        <div class="text-md-right">
                            <div class="float-lg-left mb-lg-0 mb-3">
                                <button type="submit" class="btn btn-primary btn-icon icon-left" form="createInvoiceForm" ><i class="fas fa-credit-card"></i> Process
                                    Payment</button>
                                <button class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i> Cancel</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-md-right">
                <div class="float-lg-left mb-lg-0 mb-3">
                    <button class="btn btn-warning btn-icon icon-left"><i class="fas fa-credit-card"></i> Process
                        Payment</button>
                </div>
        </form>
                <!-- <button class="btn btn-warning btn-icon icon-left"><i class="fas fa-print"></i> Print</button> -->
                <button type="submit" form="createInvoice" class="btn btn-primary btn-icon icon-left">Create</button>
            </div>
        </div>
    </div>

