{% extends "base.html" %}
{% load static %}


{% block content %}
{% block title %}
<title>Invoices</title>
{% endblock title %}


  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      {% include 'invoice_create_model.html'%}
    </div>
  </div>
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      {% include 'invoice_delete_model.html' with invoicedelete_url=invoicedelete_url %}
    </div>
  </div>
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      {% include 'invoice_update_model.html' with invoiceedit_url=invoiceedit_url %}
    </div>
  </div>

  <div class="main-content">
    {% comment %} <div class="alert">
      {% include 'snippets/message.html' %}
   </div> {% endcomment %}
      <section class="section">
        <div class="section-body">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Invoices list</h4>
                  <div class="card-header-action">
                    <div class="row">
                      <button hx-get="{% url 'bills:invoicecreate' %}" hx-target="#addContent" data-toggle="modal"
                        data-target="#addModal" hx-swap="innerHTML" class="btn btn-primary plus"><i
                          data-feather="plus"></i></button>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="total" style="margin-left: 20px;">
                      <strong>Total : </strong>
                      {{ invoice_count }}
                    </div>

                    <form action="" method="GET" style="margin-left:auto ;">
                      <div class="d-md-flex align-items-center">
                        <tr class="row">
                          <td>
                            <input type="search" class="form-control" placeholder="Project name" aria-label="Search"
                              name="name"></td>
                          <td>
                            <input type="date" class="form-control" placeholder="collab_start" name="started_date">
                          </td>
                          <td>
                            <select class="form-control select" name="project_type">
                            <option value="">selcet a project type</option>
                            {% for key, value in projecttypes %}
                              <option value={{key}}>{{value}}</option>
                            {% endfor %}
                            </select>
                          </td>

                          <td>
                            <button type="submit" class="btn btn-primary"><i data-feather="filter"></i></button>
                          </td>
                        </tr>

                      </div>
                    </form>
                  </div>
                  <hr>

                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                        <th>Number</th>
                          <th>Company name</th>
                          <th>Cost </th>
                          {% comment %} <th>Email</th> {% endcomment %}
                          <th>Phone</th>
                          <th>Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for invoice in invoices %}
                        <tr>
                        <td>{{invoice.number}}</td>

                        {% comment %} <td> {% if invoice.company %}
                          <a href="{{invoice.company.get_absolute_url}}">{{invoice.company.name}}</a>
                          {% endif %}
                        </td> {% endcomment %}
                          <td>{{invoice.to_name}}</td>
                          <td>{{invoice.cost}}</td>
                          {% comment %} <td>{{invoice.company.email}}</td> {% endcomment %}
                          <td>{{invoice.to_phone}}</td>
                          <td>{{invoice.due_date}}</td>
                          
                          {% comment %} <td><span class="fe text-warning"> {{invoice.get_decision_display}} </span></td>
                          <td>
                            <a href="{{invoice.project.get_absolute_url}}">{{invoice.project_name}}</a>
                           </td>
                          <td><span class="d-block text-info">{{invoice.collab_start}}</span></td> {% endcomment %}

                          <td><a href="{{invoiceedit_url}}" data-toggle="modal" data-target="#editContent-{{invoice.pk}}" class="btn icn"><i
                                data-feather="edit"></i></a>

                            <a href="{{invoicedelete_url}}" data-toggle="modal" data-target="#deleteContent-{{invoice.pk}}" class="btn icn"><i
                                data-feather="trash"></i></a>
                            
                            <a  href="{% url 'bills:invoicedetail' invoice.pk %}"  class="btn icn"> <i data-feather="eye"></i>
                              </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


{% for invoice in invoices %}
  {% url 'bills:invoiceedit' invoice.pk as invoiceedit_url %}
  {% url 'bills:invoicedelete' invoice.pk as invoicedelete_url %}
  {% include "invoice_update_model.html" with invoiceedit_url=invoiceedit_url %}
  {% include "invoice_delete_model.html" with invoicedelete_url=invoicedelete_url %}
{% endfor %} 

{% endblock content %} 