{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Dashboard</title>
{% endblock %}

<div class="loader"></div>
<div id="app">
  <div class="main-wrapper main-wrapper-1">
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                  <div class="card-icon shadow-primary bg-cyan">
                    <i class="fas fa-hiking"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4 class="pull-right">New Clients</h4>
                    </div>
                    <div class="card-body pull-right">
                      10,225
                    </div>
                  </div>
                  <div class="card-chart">
                    <canvas id="chart-1" height="80"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                  <div class="card-icon shadow-primary bg-purple">
                    <i class="fas fa-drafting-compass"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4 class="pull-right">New projects</h4>
                    </div>
                    <div class="card-body pull-right">
                      2,857
                    </div>
                  </div>
                  <div class="card-chart">
                    <canvas id="chart-2" height="80"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                  <div class="card-icon shadow-primary bg-green">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                  <div class="card-wrap">
                    <div class="card-header">
                      <h4 class="pull-right">Total Earning</h4>
                    </div>
                    <div class="card-body pull-right">
                      $17,458
                    </div>
                  </div>
                  <div class="card-chart">
                    <canvas id="chart-3" height="80"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <div class="card ">
                  <div class="card-header">
                    <h4>Revenue chart</h4>
                    <div class="card-header-action">
                      <div class="dropdown">
                        <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Options</a>
                        <div class="dropdown-menu">
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="far fa-edit"></i> Edit</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"><i class="far fa-trash-alt"></i>
                            Delete</a>
                        </div>
                      </div>
                      <a href="#" class="btn btn-primary">View All</a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-9">
                        <div id="chart1"></div>
                        <div class="row mb-0">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="list-inline text-center">
                              <div class="list-inline-item p-r-30"><i data-feather="arrow-up-circle"
                                  class="col-green"></i>
                                <h5 class="m-b-0">$675</h5>
                                <p class="text-muted font-14 m-b-0">Weekly Earnings</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="list-inline text-center">
                              <div class="list-inline-item p-r-30"><i data-feather="arrow-down-circle"
                                  class="col-orange"></i>
                                <h5 class="m-b-0">$1,587</h5>
                                <p class="text-muted font-14 m-b-0">Monthly Earnings</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="list-inline text-center">
                              <div class="list-inline-item p-r-30"><i data-feather="arrow-up-circle"
                                  class="col-green"></i>
                                <h5 class="mb-0 m-b-0">$45,965</h5>
                                <p class="text-muted font-14 m-b-0">Yearly Earnings</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="row mt-5">
                          <div class="col-7 col-xl-7 mb-3">Total customers</div>
                          <div class="col-5 col-xl-5 mb-3">
                            <span class="text-big">8,257</span>
                            <sup class="col-green">+09%</sup>
                          </div>
                          <div class="col-7 col-xl-7 mb-3">Total Income</div>
                          <div class="col-5 col-xl-5 mb-3">
                            <span class="text-big">$9,857</span>
                            <sup class="text-danger">-18%</sup>
                          </div>
                          <div class="col-7 col-xl-7 mb-3">Project completed</div>
                          <div class="col-5 col-xl-5 mb-3">
                            <span class="text-big">28</span>
                            <sup class="col-green">+16%</sup>
                          </div>
                          <div class="col-7 col-xl-7 mb-3">Total expense</div>
                          <div class="col-5 col-xl-5 mb-3">
                            <span class="text-big">$6,287</span>
                            <sup class="col-green">+09%</sup>
                          </div>
                          <div class="col-7 col-xl-7 mb-3">New Customers</div>
                          <div class="col-5 col-xl-5 mb-3">
                            <span class="text-big">684</span>
                            <sup class="col-green">+22%</sup>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             {% comment %} <div class="row">
              <div class="col-12 col-sm-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h4>Chart</h4>
                  </div>
                  <div class="card-body">
                   
                  </div>
                </div>
              </div> {% endcomment %}
             {% comment %} <div class="col-12 col-sm-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h4>Chart</h4>
                  </div>
                  <div class="card-body">
                    <div class="summary">
                      <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
                        <div id="chart3" class="chartsh"></div>
                      </div>
                      <div data-tab-group="summary-tab" id="summary-text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h4>Chart</h4>
                  </div>
                  <div class="card-body">
                    <div id="chart2" class="chartsh"></div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
           
            <div class="row">
              <div class="col-md-6 col-lg-12 col-xl-6">
                 {% comment %} Support tickets  {% endcomment %}
                <div class="card">
                  <div class="card-header">
                    <h4>Support Ticket</h4>
                    <form class="card-header-form">
                      <input type="text" name="search" class="form-control" placeholder="Search">
                    </form>
                  </div>
                  <div class="card-body">
                    <div class="support-ticket media pb-1 mb-3">
                      <img src="{% static 'images/avatar.png' %}" class="user-img mr-2" alt="">
                      <div class="media-body ml-3">
                        <div class="badge badge-pill badge-success mb-1 float-right">Feature</div>
                        <span class="font-weight-bold">#89754</span>
                        <a href="javascript:void(0)">Please add advance table</a>
                        <p class="my-1">Hi, can you please add new table for advan...</p>
                        <small class="text-muted">Created by <span class="font-weight-bold font-13">John
                            Deo</span>
                          &nbsp;&nbsp; - 1 day ago</small>
                      </div>
                    </div>
                    <div class="support-ticket media pb-1 mb-3">
                      <img src="{% static 'images/avatar.png' %}" class="user-img mr-2" alt="">
                      <div class="media-body ml-3">
                        <div class="badge badge-pill badge-warning mb-1 float-right">Bug</div>
                        <span class="font-weight-bold">#57854</span>
                        <a href="javascript:void(0)">Select item not working</a>
                        <p class="my-1">please check select item in advance form not work...</p>
                        <small class="text-muted">Created by <span class="font-weight-bold font-13">Sarah
                            Smith</span>
                          &nbsp;&nbsp; - 2 day ago</small>
                      </div>
                    </div>
                    <div class="support-ticket media pb-1 mb-3">
                      <img src="{% static 'images/avatar.png' %}" class="user-img mr-2" alt="">
                      <div class="media-body ml-3">
                        <div class="badge badge-pill badge-primary mb-1 float-right">Query</div>
                        <span class="font-weight-bold">#85784</span>
                        <a href="javascript:void(0)">Are you provide template in Angular?</a>
                        <p class="my-1">can you provide template in latest angular 8.</p>
                        <small class="text-muted">Created by <span class="font-weight-bold font-13">Ashton Cox</span>
                          &nbsp;&nbsp; -2 day ago</small>
                      </div>
                    </div>
                    <div class="support-ticket media pb-1 mb-3">
                      <img src="{% static 'images/avatar.png' %}" class="user-img mr-2" alt="">
                      <div class="media-body ml-3">
                        <div class="badge badge-pill badge-info mb-1 float-right">Enhancement</div>
                        <span class="font-weight-bold">#25874</span>
                        <a href="javascript:void(0)">About template page load speed</a>
                        <p class="my-1">Hi, John, can you work on increase page speed of template...</p>
                        <small class="text-muted">Created by <span class="font-weight-bold font-13">Hasan
                            Basri</span>
                          &nbsp;&nbsp; -3 day ago</small>
                      </div>
                    </div>
                  </div>
                  <a href="javascript:void(0)" class="card-footer card-link text-center small ">View
                    All</a>
                </div>
                <!-- Support tickets -->
              </div>
               <div class="col-md-6 col-lg-12 col-xl-6"> 
                <div class="card">
                  <div class="card-header">
                      <h4>Recent Transactions</h4>
                      <div class="card-header-form">
                          <button class="btn btn-primary">View more </button>          
                      </div>
                  </div>
                  <div class="card-body p-0">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <tr>
                                  <th>Project</th>
                                  <th>Date</th>
                                  <th>Account</th>
                                  <th>Amount</th>
                                  <th>Status</th>
                              </tr>
                              <tr>
                                  <td> mobile app</td>
                                  <td>2018-01-20</td>
                                  <td class="text-truncate">
                                      <ul class="list-unstyled order-list m-b-0 m-b-0">
                                          <li class="team-member team-member-sm"><img class="rounded-circle"
                                                  src="{% static '/images/avatar.png' %}" alt="user"
                                                  data-toggle="tooltip" title=""
                                                  data-original-title="Wildan Ahdian"></li>
                                      </ul>
                                  </td>
                                  <td>1235 DA</td>
                                  <td>
                                      <div class="badge badge-success">Payed</div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>CRM</td>
                                  <td>2018-01-20</td>
                                  <td class="text-truncate">
                                      <ul class="list-unstyled order-list m-b-0 m-b-0">
                                          <li class="team-member team-member-sm"><img class="rounded-circle"
                                                  src="{% static '/images/avatar.png' %}" alt="user"
                                                  data-toggle="tooltip" title=""
                                                  data-original-title="Wildan Ahdian"></li>
                                      </ul>
                                  </td>
                                  <td>1235 DA</td>
                                  <td>
                                      <div class="badge badge-danger">not payed</div>
                                  </td>

                              </tr>
                              <tr>
                                  <td>E-commerce</td>
                                  <td>2018-01-20</td>
                                  <td class="text-truncate">
                                      <ul class="list-unstyled order-list m-b-0 m-b-0">
                                          <li class="team-member team-member-sm"><img class="rounded-circle"
                                                  src="{% static '/images/avatar.png' %}" alt="user"
                                                  data-toggle="tooltip" title=""
                                                  data-original-title="Wildan Ahdian"></li>
                                      </ul>
                                  </td>
                                  <td>1235 DA</td>
                                  <td>
                                      <div class="badge badge-warning">Pending</div>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
              
              </div>
            </div>
          </div>

        </section>
      </div>
  </div>
</div>
 

  {% endblock content %}

