{% extends "base.html" %}
{% load static %}
{% block content %}

{% block title %}
  <title>Calendar</title>
{% endblock title %}


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'event_create_model.html' %}
  </div>
</div> 



<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Calendar</h4>
            </div>
            
            <div class="card-body">
              <div class="fc-overflow">
                <div id="myEvent"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
{% endblock content %}


{% block scripts %}
<script>
var calendar = $('#myEvent').fullCalendar({


        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'month',
        editable: true,
        eventLimit: true,

          events: [
                {% for i in eventlist %}
              {
                  title: "{{ i.name}}",
                  start: '{{ i.start_date|date:"Y-m-d" }}',
                  end: '{{ i.deadline|date:"Y-m-d" }}',
              },
                {% endfor %}

          ]

  });

  $(".fc-body").click(function(){
  $(this).attr("href", "#myModal");
  $(this).attr("data-toggle", "modal");
});
   
</script>
  {% comment %} <script src="{% static 'js/fullcalendar.min.js' %}"></script> {% endcomment %}


{% endblock scripts %}

