{% extends "base.html" %}
{% load static %}

{% block content %}
  {% block title %}
  <title>Events</title>
  {% endblock title %}

  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'event_create_model.html' %}
    </div>
  </div>

  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include 'event_edit_model.html' with editevent_url=editevent_url %}
    </div>
  </div>

  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
      {% include 'event_delete_model.html' with eventdelete_url=eventdelete_url %}
    </div>
  </div>

<div class="main-content">
         {% include 'snippets/message.html' %}
    <section class="section">
      <div class="section-body">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Events List</h4>
                  <div class="card-header-form">
                    <button  hx-get="{% url 'events:eventcreate' %}" hx-target="#addContent" data-toggle="modal"
                        data-target="#addModal" hx-swap="innerHTML" class="btn btn-primary plus">
                        <i data-feather="plus"></i></button>
                    <!-- <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form> -->
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-center">
                          <div class="custom-checkbox custom-checkbox-table custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                              class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                          </div>

                        </th>
                        <th>Title</th>
                        {% comment %} <th>Members</th> {% endcomment %}
                        {% comment %} <th>Task Status</th> {% endcomment %}
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>Priority</th>
                        <th>description</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                      
                      <tbody>
                      {% for event in events %}
                      
                        <tr>
                        <td class="p-0 text-center">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                              id="checkbox-{{event.pk}}">
                            <label for="checkbox-{{event.pk}}" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>

                        <td>{{event.name}}</td>

                        {% comment %} <td class="text-truncate">
                          <ul class="list-unstyled order-list m-b-0 m-b-0">
                            <li class="team-member team-member-sm"><img class="rounded-circle"
                                src="{% static '/images/avatar.png' %}" alt="user" data-toggle="tooltip" title=""
                                data-original-title="Wildan Ahdian"></li>
                            <li class="team-member team-member-sm"><img class="rounded-circle"
                                src="{% static '/images/avatar.png' %}" alt="user" data-toggle="tooltip" title=""
                                data-original-title="John Deo"></li>
                            <li class="team-member team-member-sm"><img class="rounded-circle"
                                src="{% static '/images/avatar.png' %}" alt="user" data-toggle="tooltip" title=""
                                data-original-title="Sarah Smith"></li>
                            <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                          </ul>
                        </td> {% endcomment %}


                        {% comment %} <td class="align-middle">
                          <div class="progress-text">50%</div>
                          <div class="progress" data-height="6">
                            <div class="progress-bar bg-success" data-width="50%"></div>
                          </div>
                        </td> {% endcomment %}

                        <td>{{event.start_date}}</td>
                        <td>{{event.start_time}}</td>
                        {% comment %} {% for priority in eventpriorities %} {% endcomment %}
                          {% if event.priority == 'low' %}
                          <td>
                            <div class="badge badge-success">{{event.priority}}</div>
                          </td>
                          {% elif event.priority == 'meduim' %}
                          <td>
                            <div class="badge badge-info">{{event.priority}}</div>
                          </td>
                          {% else %}
                          <td>
                            <div class="badge badge-danger">{{event.priority}}</div>
                          </td>
                          {% endif %}

                          <td>{{event.description}}</td>

                          {% comment %} {% endfor %} {% endcomment %}
                        
                          {% comment %} <td><a href="#" class="btn btn-outline-primary">Detail</a>
                            <a href="#" class="btn btn-outline-primary">Done</a>
                          </td> {% endcomment %}
                          <td>
                            <a href="{{editevent_url}}" data-toggle="modal" data-target="#editContent-{{event.pk}}" class="btn icn">
                            <i data-feather="edit"></i>
                            </a>
 
                            <a href="{{eventdelete_url}}" data-toggle="modal" data-target="#deleteContent-{{event.pk}}" class="btn icn">
                            <i data-feather="trash"></i>
                            </a>

                            <a href="{% url 'events:eventdetail' event.pk %}" class="btn icn">
                            <i data-feather="eye"></i></a>
                          </td>
                        </tr>
                      {% endfor %}

                    </tbody>
                     

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
</div>

{% for event in events %}
  {% url 'events:eventedit' event.pk as editevent_url %}
  {% url 'events:eventdelete' event.pk as eventdelete_url %}
    {% include "event_edit_model.html" with editevent_url=editevent_url %}
    {% include "event_delete_model.html" with eventdelete_url=eventdelete_url %}
{% endfor %}

{% endblock content %}