<div id="addContent" class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="detailModalLabel">Add transaction</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form action="{% url 'cashflow:transactioncreate' %}" method="post" id="addtransactionform">
    {% csrf_token %}
      <div class="form-group   col-12">
        <label for="id_name">Title</label>
        <input type="text" name="name" id="transa_title" required class="form-control" autofocus>
      </div>
{% comment %} 
      <div class="form-group   col-12">
        <label for="id_name">Account</label>
        <select class="form-control" name="Account.name" id="transa_account">
          <option value="" selected>Chose an account</option>
          <option value="">account name</option>
        </select>
      </div> {% endcomment %}

      <div class="form-group   col-12">
        <label for="id_name">Date</label>
        <input type="date" name="date" id="transa_date" required class="form-control" autofocus>
      </div>
      <div class="form-group   col-12">
        <label for="id_name">Amount</label>
        <input type="number" name="amount" id="transa_amount" required class="form-control" autofocus>
      </div>
{% comment %} 
      <div class="form-group   col-12">
        <label for="id_name">Payement method</label>
        <select class="form-control" name="pay_method" id="pay_method">
          <option value="" selected>Cash</option>
          <option value="">Carte</option>       
        </select>
      </div> {% endcomment %}

      <div class="form-group   col-12">
        <label for="id_name">Status</label>
        <select class="form-control" name="tr_status" id="transa_status">
          <option value="" selected>Select a status</option>
          {% for key, value in transactionstatus %}
            <option value="{{key}}">{{value}}</option>
          {% endfor %}

        </select>
      </div>
      <button type="submit">create</button>
    </form>
    <div class="actions clearfix">
      <button type="submit" style="float:right " class="waves-effect btn btn-primary" role="menuitem"
        form="addtransactionform">Add</button>
    </div>
  </div>
</div>
